In [2]:
import pandas as pd
import os

Reading files in the directory By OS

In [9]:
files = [file for file in os.listdir('/home/ducati/Documents/python/Pandas-Data-Science-Tasks/SalesAnalysis/Sales_Data')]
all_months_data = pd.DataFrame()
for file in files:
    df = pd.read_csv('/home/ducati/Documents/python/Pandas-Data-Science-Tasks/SalesAnalysis/Sales_Data/'+file)
    all_months_data = pd.concat([all_months_data, df])

all_months_data.to_csv("alldata.csv", index=False)

In [17]:
all_months_data.head(50)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,259358,34in Ultrawide Monitor,1,379.99,10/28/19 10:56,"609 Cherry St, Dallas, TX 75001"
1,259359,27in 4K Gaming Monitor,1,389.99,10/28/19 17:26,"225 5th St, Los Angeles, CA 90001"
2,259360,AAA Batteries (4-pack),2,2.99,10/24/19 17:20,"967 12th St, New York City, NY 10001"
3,259361,27in FHD Monitor,1,149.99,10/14/19 22:26,"628 Jefferson St, New York City, NY 10001"
4,259362,Wired Headphones,1,11.99,10/07/19 16:10,"534 14th St, Los Angeles, CA 90001"
5,259363,AAA Batteries (4-pack),1,2.99,10/01/19 18:55,"976 Lake St, New York City, NY 10001"
6,259364,Wired Headphones,1,11.99,10/29/19 11:02,"874 North St, Los Angeles, CA 90001"
7,259365,Lightning Charging Cable,1,14.95,10/29/19 11:19,"127 12th St, Los Angeles, CA 90001"
8,259366,Apple Airpods Headphones,1,150.0,10/20/19 11:52,"955 9th St, Los Angeles, CA 90001"
9,259367,Apple Airpods Headphones,1,150.0,10/16/19 16:19,"742 14th St, San Francisco, CA 94016"
10,259368,27in FHD Monitor,1,149.99,10/13/19 13:47,"960 Ridge St, Boston, MA 02215"
11,259369,USB-C Charging Cable,1,11.95,10/26/19 10:54,"538 Johnson St, Portland, OR 97035"
12,259370,20in Monitor,1,109.99,10/28/19 23:56,"528 Forest St, San Francisco, CA 94016"
13,259371,iPhone,1,700.0,10/26/19 12:12,"306 Main St, Los Angeles, CA 90001"
14,259372,Wired Headphones,1,11.99,10/17/19 11:07,"434 Madison St, San Francisco, CA 94016"
15,259373,27in FHD Monitor,1,149.99,10/31/19 20:15,"924 Church St, San Francisco, CA 94016"
16,259374,Apple Airpods Headphones,1,150.0,10/17/19 22:14,"784 6th St, Los Angeles, CA 90001"
17,259375,USB-C Charging Cable,1,11.95,10/10/19 08:53,"557 Forest St, San Francisco, CA 94016"
18,259376,27in FHD Monitor,1,149.99,10/12/19 00:03,"218 14th St, San Francisco, CA 94016"
19,259377,Bose SoundSport Headphones,1,99.99,10/23/19 16:49,"88 Main St, Boston, MA 02215"
20,259378,Lightning Charging Cable,1,14.95,10/18/19 16:45,"997 1st St, Boston, MA 02215"
21,259379,27in 4K Gaming Monitor,1,389.99,10/09/19 13:15,"148 Lincoln St, San Francisco, CA 94016"
22,259380,Apple Airpods Headphones,1,150.0,10/19/19 12:21,"424 North St, San Francisco, CA 94016"
23,259381,ThinkPad Laptop,1,999.99,10/25/19 08:44,"887 12th St, New York City, NY 10001"
24,259382,Wired Headphones,1,11.99,10/18/19 14:16,"605 Ridge St, New York City, NY 10001"
25,259383,Apple Airpods Headphones,1,150.0,10/13/19 12:32,"597 6th St, Los Angeles, CA 90001"
26,259384,ThinkPad Laptop,1,999.99,10/29/19 23:22,"383 Cedar St, Dallas, TX 75001"
27,259385,Lightning Charging Cable,1,14.95,10/28/19 15:28,"892 1st St, Los Angeles, CA 90001"
28,259386,Lightning Charging Cable,1,14.95,10/16/19 21:39,"966 Hickory St, Los Angeles, CA 90001"
29,259387,Bose SoundSport Headphones,1,99.99,10/01/19 13:58,"695 6th St, New York City, NY 10001"
30,259388,AA Batteries (4-pack),1,3.84,10/12/19 13:15,"948 Forest St, San Francisco, CA 94016"
31,259389,AAA Batteries (4-pack),1,2.99,10/17/19 14:14,"661 Maple St, Dallas, TX 75001"
32,259390,Lightning Charging Cable,1,14.95,10/08/19 12:35,"134 Cherry St, Atlanta, GA 30301"
33,259391,Google Phone,1,600.0,10/24/19 12:51,"374 Hill St, Dallas, TX 75001"
34,259392,Wired Headphones,1,11.99,10/19/19 15:26,"374 Forest St, Los Angeles, CA 90001"
35,259393,AA Batteries (4-pack),1,3.84,10/22/19 20:35,"2 13th St, New York City, NY 10001"
36,259394,AA Batteries (4-pack),1,3.84,10/24/19 18:58,"909 Lake St, Atlanta, GA 30301"
37,259395,Bose SoundSport Headphones,1,99.99,10/13/19 13:55,"235 Adams St, Atlanta, GA 30301"
38,259396,AAA Batteries (4-pack),1,2.99,10/23/19 22:40,"218 Spruce St, Austin, TX 73301"
39,259397,Wired Headphones,1,11.99,10/01/19 14:39,"901 Walnut St, Atlanta, GA 30301"
40,259398,Bose SoundSport Headphones,1,99.99,10/22/19 10:20,"367 Pine St, Seattle, WA 98101"
41,259399,AAA Batteries (4-pack),2,2.99,10/31/19 19:06,"263 Willow St, San Francisco, CA 94016"
42,259400,27in 4K Gaming Monitor,1,389.99,10/19/19 09:24,"628 Forest St, Los Angeles, CA 90001"
43,259401,Wired Headphones,1,11.99,10/15/19 23:39,"291 Lincoln St, Los Angeles, CA 90001"
44,259402,AA Batteries (4-pack),3,3.84,10/09/19 20:27,"11 Lakeview St, Seattle, WA 98101"
45,259403,USB-C Charging Cable,1,11.95,10/25/19 19:42,"255 Cedar St, New York City, NY 10001"
46,259404,Bose SoundSport Headphones,1,99.99,10/07/19 19:48,"883 5th St, Boston, MA 02215"
47,259405,Bose SoundSport Headphones,1,99.99,10/07/19 19:19,"698 Center St, Dallas, TX 75001"
48,259406,AA Batteries (4-pack),1,3.84,10/12/19 12:01,"665 Elm St, Atlanta, GA 30301"
49,259407,Lightning Charging Cable,1,14.95,10/30/19 12:09,"189 Chestnut St, San Francisco, CA 94016"

In [15]:
all_months_data.info()
all_months_data.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 186850 entries, 0 to 18382
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 10.0+ MB

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,186305,186305,186305,186305,186305,186305
unique,178438,20,10,24,142396,140788
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,355,21903,168552,21903,355,355

Cleaning NAN in sheet

In [41]:
df_nan = all_months_data[all_months_data.isna().any(axis=1)]
df_nan.head()
all_months_data.dropna(how='all')
all_months_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,259358,34in Ultrawide Monitor,1,379.99,10/28/19 10:56,"609 Cherry St, Dallas, TX 75001",10
1,259359,27in 4K Gaming Monitor,1,389.99,10/28/19 17:26,"225 5th St, Los Angeles, CA 90001",10
2,259360,AAA Batteries (4-pack),2,2.99,10/24/19 17:20,"967 12th St, New York City, NY 10001",10
3,259361,27in FHD Monitor,1,149.99,10/14/19 22:26,"628 Jefferson St, New York City, NY 10001",10
4,259362,Wired Headphones,1,11.99,10/07/19 16:10,"534 14th St, Los Angeles, CA 90001",10

Findning 'OR' and delete it

In [44]:
tem_df = all_months_data[all_months_data['Order Date'].str[0:2] == '10/28/19 10:56']
tem_df.head()

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address, Month]
Index: []

In [45]:
tem_df = all_months_data[all_months_data['Order Date'].str[0:2] == '10/28/19']
tem_df.head()

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address, Month]
Index: []

In [47]:
tem_df = all_months_data[all_months_data['Order Date'].str[0:2] == 'Or']
tem_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
521,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
833,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
2180,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
2388,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
4248,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or

Augmenting data

In [42]:
all_months_data['Month'] = all_months_data['Order Date'].str[0:2]
all_months_data['Month'] = all_months_data['Order Date'].astype('int32')
all_months_data.head()

ValueError: invalid literal for int() with base 10: '10/28/19 10:56'